<div class="container-fluid">
  <div class="row">
    <div class="col">
      <p class="text-center">Copyright © beckHammer 2019-2020</p>
    </div>
    </nav>
  </div>
</div>

<!-- back to top starts -->
<div class="backtotop">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="-2px" y="1px"
    width="40px" height="40px" viewBox="0 0 45 44">
    <polygon fill="none"
      points="31.041,24.704 22.821,16.483 22.821,16.484 22.82,16.483 14.601,24.703 17.163,27.267 22.82,21.609 28.478,27.267 ">
    </polygon>
  </svg>
</div>
<!-- back to top ends -->