<section class="header__logo logo">
  <h1 class="logo__title">
    <a class="logo__link" href="/" title="Javascript Course &ndash; link to homepage">
      <span>Shashikant Tripathi</span>
    </a>
  </h1>
</section>
</div>
<section class="header__mobile mobileMenu">
  <section class="container-fluid">
    <div class="mobileMenu__hamburgerWrapper">
      <a class="mobileMenu__hamburger" href="javascript:void(0);">open</a>
    </div>
  </section>
</section>
<nav class="header__menu">
  <ul class="menu">
    <li class="menu__item -active">
      <a class="menu__link" href="./javascript-basic-exercise/exercise_1.html"
        data-page="javascript-basic-exercise">Basic Javascript</a>
    </li>
    <li class="menu__item"><a class="menu__link" href="/" data-page="functional-repository">Functional
        Repository</a></li>
    <li class="menu__item"><a class="menu__link" href="/" data-page="about-us">About Us</a></li>
    <li class="menu__item"><a class="menu__link" href="/" data-page="contact Us">Contact Us</a></li>
  </ul>
</nav>