<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-3 col-md-2 header__logo">
      <section class="logo">
        <a class="logo__link" href="/" title="Javascript Course &ndash; link to homepage">
          <img class="logo__image" alt="Javascript Course" src="../dist/images/logo.svg" />
        </a>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <section class="header__mobile mobile-menu">
        <section class="container-fluid">
          <div class="mobile-menu__hamburger-wrapper">
            <a class="mobile-menu__hamburger" href="javascript:void(0);">open</a>
          </div>
        </section>
      </section>
      <nav class="header__menu">
        <ul class="menu">
          <li class="menu__item">
            <a class="menu__link" href="./javascript-basic-exercise/exercise_1.html"
              data-page="javascript-basic-exercise">Basic Javascript</a>
          </li>
          <li class="menu__item"><a class="menu__link" href="/" data-page="functional-repository">Functional
              Repository</a></li>
          <li class="menu__item"><a class="menu__link" href="/" data-page="about-us">About Us</a></li>
          <li class="menu__item"><a class="menu__link" href="/" data-page="contact Us">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>