/* ---------- header starts ---------- */
.header {

  &__menu {
    flex: 0 1 auto;
  }

  @media all and (min-width: $tabletPotraitWidth) {
    &__mobile {
      display: none;
    }
  }

  @media all and (max-width: $mobileLandscapeWidth) {
    &__mobile {
      display: block;
    }

    &__menu {
      flex: 1 1 100%;
    }
  }

}


/* ---------- header ends ---------- */


/* ---------- footer starts ---------- */
.footer {

  &__menu {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: baseline;
    align-content: center;

    &__item {
      flex: 0 1 auto;
      padding: 0 2.7rem 0 0;

      &:last-child {
        padding-right: 0;
      }
    }

  }

  @media all and (min-width: $tabletPotraitWidth) and (max-width: $tabletMidWidth) {

    &__menu {
      justify-content: flex-start;
    }

  }

  @media all and (max-width: $mobileLandscapeWidth) {

    &__menu {
      flex-flow: row wrap;
      justify-content: center;

      &__item {
        flex: 0 0 auto;
        padding: 0 1rem 1rem;
      }
    }

  }
}

/* ---------- footer ends ---------- */