/* ---------- header starts ---------- */
.header {

  &__logo {
    padding: 2rem 0;
  }

  &__menu {
    flex: 0 1 auto;
  }

  @media all and (min-width: $tabletPotraitWidth) {
    &__mobile {
      display: none;
    }
  }

  @media all and (max-width: $mobileLandscapeWidth) {
    &__mobile {
      display: block;
    }
    &__menu {
      flex: 1 1 100%;
    }
  }

}
/* ---------- header ends ---------- */

/* ---------- footer starts ---------- */
.footer {

  &__copyright {
    padding: 2rem 0 1.6rem;
    @include background-opacity($primaryBgColor, 0.7);
  }

}
/* ---------- footer ends ---------- */